body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
    
    .luces {
    background-color: #333;
    width: 180px;
    height: 420px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    }
        .luz {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        }
            .luz.rojo {
            background-color: red;
            box-shadow: 0 0 20px 5px red;
            }
            .luz.rApagado {
            background-color: rgb(41, 0, 0);
            }
            .luz.amarillo {
            background-color: yellow;
            box-shadow: 0 0 20px 5px yellow
            }
            .luz.aApagado {
            background-color: rgb(41, 41, 0);
            }
            .luz.verde {
            background-color: green;
            box-shadow: 0 0 20px 5px green;
            }
            .luz.vApagado {
            background-color: rgb(0, 41, 0);
            }

